<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-header">
    <meta charset="UTF-8" />
    <title>Add Post</title>
</head>
<body>
	<header th:replace="layout::site-nav" />
	
	<div class="ui main text container segment">
	    <h2 class="ui center aligned icon header">
	      <i class="edit icon"></i>
	      Edit Post <br /> <span th:text="${post.title}"></span>
	    </h2>
	    
	    <form class="ui form" th:object="${post}" th:action="@{../save}" action="#" method="post">	
	    			<!-- NOTE: ID should be added otherwise new post will be added -->
				 	<input type="hidden" th:field="*{id}" />
				 	<div class="field">
				 		<label for="stylelist">BLOG STYLE</label>
				 		<select id="stylelist" th:field="*{style.styleid}">
			 				<option th:each="style: ${styles}" th:value="${style.styleid}" th:text="${style.name}"></option>
			 			</select>
			 		</div>		
				 	<div class="field">			
						<input type="text" id="title" th:field="*{title}" placeholder="Title" />
					</div>
					 <div class="field">	
						<input type="text" id="image" th:field="*{image}" placeholder="Image URL" />
					</div>
					 <div class="field">
						<textarea id="body" th:field="*{body}" placeholder="Write your post here">
						</textarea>
					</div>
					
					<button class="ui inverted big violet button">Update</button>
				</form>
		    
	</div>
	
</body>
</html>