<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="site-header">
    <meta charset="UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/semantic.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Spectral+SC}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
     <script type="text/javascript">
	     $('.message .close')
	     .on('click', function() {
	       $(this)
	         .closest('.message')
	         .transition('fade')
	       ;
	     })
	   ;
     </script> 
    
</head>

<body>
	<div class="ui container">
		<header th:fragment="site-nav">
			<div class="ui inverted menu" style="margin: 0px">
	                <div class="header item">
						<i class="code icon big"></i>Blog Site
					</div>
					<a th:href="@{/}" class="item"><i class="home icon"></i>Home</a>
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/new}" class="item"><i class="add circle icon"></i>Create Post</a>
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}" class="item"><i class="users icon"></i>All Users</a>
										
					<div class="right menu">
						<a href="#" class="item lowercase" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]] !</a>
						<form th:action="@{/logout}" method="POST">
							<input class="ui inverted basic button" type="submit" value="Logout" />
						</form>
					</div>					
			</div>
		</header>
	</div>

	
	<footer class="footer" th:fragment="site-footer">
		<p>Khanh Dang, 11/2017</p>
	</footer>

</body>

</html>