<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-header">
    <meta charset="UTF-8" />
    <title>Add Post</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui text container transparent">
      <h1 class="ui inverted header">
       	WELCOME TO BLOG SITE
      </h1>
      <h3>This is a closed community where a group of people shares thoughts and ideas about surrounding world. Users who accepted to register our blog must not copy/share our posts in any case.</h3>
      
    </div>
	
</div>

<div class="ui main text container segment short">
    <h2 class="ui center aligned icon header">
      <i class="user icon"></i>
      LOGIN FORM
    </h2>
			<form class="ui form" th:action="@{/login}" action="#" method="post">	
			 	<div class="field">
			 		<label>Username: </label>
			 		<div class="ui left icon input">
			 			 <i class="user icon"></i> 					
						<input type="text" name="username" />
					</div>
				</div>
				 <div class="field">
				 	<label>Password: </label>
				 	<div class="ui left icon input">
				 		<i class="lock icon"></i> 		
						<input type="password" name="password" />
					</div>
				</div>	
				
				<button class="ui fluid inverted large violet button">Login</button>
			</form>
			<div class="ui negative message" th:if="${param.error}">
			  <i class="close icon"></i>
			  <div class="header">
			   	Error Login
			  </div>
			  <p>Invalid username or password!
			</p></div>
			<div class="ui positive message" th:if="${param.logout}">
			  <i class="close icon"></i>
			  <p>You have been logged out.</p>
			</div>
			<div class="ui message">
					New to us? <a th:href="@{/signup}">Sign Up</a>
			</div>
			<div class="ui info message">
			  <div class="header">
			    You have question or want further information? Why not contact us?
			  </div>
			  <p>
			  Admin: Khanh Dang<br />
			  Phone: 0468450492<br />
			  Email: khanh.2dbt@gmail.com<br />
			  </p>
			</div>
</div>
<footer th:replace="layout::site-footer" />
 <script type="text/javascript">
	     $('.message .close')
	     .on('click', function() {
	       $(this)
	         .closest('.message')
	         .transition('fade')
	       ;
	     })
	   ;
     </script> 
</body>
</html>