<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-header">
    <meta charset="UTF-8" />
    <title>Add Post</title>
</head>
<body>
	<header th:replace="layout::site-nav" />
	
	<h3 class="ui center aligned header">USER MANAGEMENT</h3>
	<div class="ui container">
		<table class="ui single line table">
			  <thead>
			    <tr>
			    <th>Name</th>
			    <th>Phone</th>
			    <th>Email</th>
			    <th>Username</th>
			    <th>Role</th>
			    <th>Action</th>
			  </tr></thead>
			  <tbody>
			    <tr th:each = "user : ${user}" th:if="${user.role == 'USER'}">
			      <td th:text="${user.firstname + ', ' + user.lastname}">Full Name</td>
			      <td th:text="${user.phone}">Phone Number</td>
			      <td th:text="${user.email}">Email</td>
			      <td th:text="${user.username}">Username</td>
			      <td th:text="${user.role}">Role</td>
			      <td><a th:href="@{/users/{id}/delete(id=${user.id})}"><i class="material-icons smaller">delete</i>Remove</a></td>
			    </tr>
			</tbody>
		</table>
	</div>
 <footer th:replace="layout::site-footer" />
</body>
</html>